Package: net.p0358.toketime
Name: TokeTime Reborn
Depends: mobilesubstrate, ws.hbang.common (>= 1.14)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Overlays Snoop Dogg on your lock screen at 4:20 AM/PM
Maintainer: p0358
Author: p0358
Section: Tweaks
